<div class="container my-5">
    <section>
        <h2 class="text-center font-italic mb-3">All items online avaliable</h2>
        <div class="container py-5"><input class="form-control w-50 m-auto" type="search"
                placeholder="Search your favorite png!"></div>
    </section>

    <section class="container mt-4 aa">
        <div class="firstRow w-25"></div>
        <h3>Most popular products at moment</h3>
        <p class="text-center">Enjoy the best store with the best experience!</p>
        <div class="firstRow "></div>
    </section>
</div>