<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container">
        <img src="https://i.pinimg.com/originals/15/aa/cd/15aacda7b47201403e2b2f58acf72067.png" width="60" />
        <a class="navbar-brand text-white" routerLink="home">My Online Store</a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link text-white" routerLink="home">Products</a>
                </li>
                <li class="nav-item active mx-3">
                    <a class="nav-link text-white" routerLink="card"><i class="fas fa-shopping-cart"></i> Cart
                    </a>
                </li>
                <li class="nav-item active mx-3">
                    <a class="nav-link text-white" routerLink="card"><i class="fas fa-shopping-cart"></i> Checkout
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>